.main {
  height: 1rem;
  width: auto;
  display: flex;
  padding: 1rem;
  background-color: #43425d;
}
.button {
  height: 2rem;
  width: 5rem;
  float: right;
  margin-left: auto;
  background-color: #262626;
  color: #fff;
  border: transparent;
}
.button:hover {
  color: #262626;
  background-color: whitesmoke;
}
.body {
  /* background-color: #c5c5c5; */
  /* width: 60rem; */
  height: 30rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
}
